.start{
    font-family: 'Apple Chancery', sans-serif;
                                                
    color: rgb(250, 250, 250);
    background-color: rgb(32, 32, 32);
    width: 100vw;
    height: 100vh;
}
