.start{
    font-family: 'Apple Chancery', sans-serif;
                                                
    color: rgb(250, 250, 250);
    background-color: rgb(32, 32, 32);
    width: 100vw;
    height: 100vh;
}
th{
    color: rgb(218, 218, 218);
}
td{
    color: rgb(218, 218, 218);
}
.venti5{
    width: 100%;
    height: 25%;
    background-color: rgb(7, 34, 34);
    
    
}
.inlinee{
    display: flex;
    align-items: baseline;
    height: 150vh;
}
.venticinque{
    width: 50%;
    height: 100%;
}
.marginleft{
    margin-left: 15%;
}
.margintop{
    margin-top: 3%;
}
.marginleft1{
    margin-left: 3%;
}