<nav class="colororo navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand sopra" href="#"><img class="lol" src="https://pps.whatsapp.net/v/t61.24694-24/311706587_2200837850111158_7088684015887434276_n.jpg?ccb=11-4&oh=01_AdT5tovAUL0FQsKLfSANXd_wCt6QSu1xrq37cmGrrmQJHA&oe=64C93648" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active marginare sopra1" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active marginare sopra2" aria-current="page" href="campionati">Campionato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link marginare sopra3" href="calendari">Programma Amichevoli</a>
        </li>
        <li class="nav-item">
          <a class="nav-link marginare sopra4" href="#">Eventi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link marginare sopra5">Squadre</a>
          <img src="asd.png" alt="">
        </li>
      </ul>
    </div>
  </div>
</nav>
