.marginare{
    margin-left: 3vw;
}
.colororo{
    background-color: rgb(209, 177, 49);
}
.sopra{
    margin-top: 0%;
    font-size: 250%;
}
.sopra1{
    margin-top: 0%;
    font-size: 160%;
}
.sopra2{
    margin-top: 0%;
    font-size: 160%;
}
.sopra3{
    margin-top: 0%;
    font-size: 160%;
}
.sopra4{
    margin-top: 0%;
    font-size: 160%;
}
.sopra5{
    margin-top: 0%;
    font-size: 160%;
}
.lol{
    width: 100px;
    height: 100px;
}