<app-nav-bar></app-nav-bar>

<div class="start ">
  <div >
    
    <div class="paddingleft">
      <dl class="row">
        <hr>
        <dt class="col-sm-3">Benvenuto in ASD Picche <img class=" dimensione" src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/45706/volleyball-emoji-clipart-xl.png" alt=""></dt>
        <dd class="col-sm-9">asd picche esiste da inizio 2022 con l'obbiettivo di fare nuove amicizie e conoscenze.</dd>
      <hr>
        <dt class="col-sm-3">crea la tua squadra <img class="dimensione" src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/45706/volleyball-emoji-clipart-xl.png" alt=""></dt>
        <dd class="col-sm-9">
          <p>crea una squadra con i tuoi amici per giocare partite amichevoli o campionati o tornei in giornata.</p>
          <p>vinci o perdi con il sorriso, tutto si basa sulla sportività degli utenti, non è ammesso spirito agonistico che mini la pace, è giusto impegnarsi ma non è contemplata l'aggressività, chiunque non sappia contenersi verrà allontanato</p>
        </dd>
      <hr>
        <dt class="col-sm-3">campionato 2023/2024 <img class="dimensione" src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/45706/volleyball-emoji-clipart-xl.png" alt=""></dt>
        <dd class="col-sm-9">il campionato asdpicche inizierà a novembre e finirà a fine luglio, vi parteciperanno 6 squadre</dd>
      
        <dt class="col-sm-3 text-truncate">Tornei <img class="dimensione" src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/45706/volleyball-emoji-clipart-xl.png" alt=""></dt>
        <dd class="col-sm-9">i tornei sono giocati in 5 ore con formula a gironi per 8 squadre dalle 17,10 alle 22,10</dd>
      <hr>
        <dt class="col-sm-3">contatti <img class="dimensione" src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/45706/volleyball-emoji-clipart-xl.png" alt=""></dt>
        <dd class="col-sm-9">
          <dl class="row">
            <dt class="pollo col-sm-4">Mirko Cecconi +39 327 247 7705 <hr> Matteo Di Placido +39 335 491 734 <hr> Federico Ceccarelli +39 331 808 3642 <hr> Devis Sechi  +39 351 846 2705 <hr></dt>
            <dd class="col-sm-8">
            </dd>
          </dl><dl class="row">
            <dt class="col-sm-4"></dt>
            <dd class="col-sm-8">
            </dd>
          </dl><dl class="row">
            <dt class="col-sm-4"></dt>
            <dd class="col-sm-8">
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4"></dt>
            <dd class="col-sm-8">
            </dd>
          </dl>
        </dd>
      </dl>
      <div class="container colorcon paddingtop">
        <div class="row align-items-start">
          <div class="col foont paddingtopp">
            Ruoli della pallavolo scritti in breve <hr>
          </div>
          <div class="col">
            Libero: <hr>
            il libero gioca solo nella seconda linea e il suo obbiettivo è quello di ricevere le palle e darle all'alzatore <hr>
          </div>
          <div class="col">
            Centrale: <hr>
            il centrale gioca solo nella prima linea in attaco il suo obbiettivo è murare e schiacciare vicino l'alzatore <hr>


          </div>
          <div class="col">
            Martello: <hr>
            il martello riceve, attacca, mura, copre le posizioni che vengono lasciate libere dagli altri <hr>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col">
            Alzatore: <hr>
            l'alzatore è il decisional making della squadra, decide chi attacca e gli passa la palla per andare in schiacciata<hr>
          </div>
          <div class="col">
            L'opposto <hr>
            è colui che attacca da piu lontano prendendo le alzate lunghe da parte dell'alzatore e anche dalla seconda linea<hr>
          </div>
          <div class="col">
             Asso: <hr>
             l'asso è il giocatore che piu volte riceve la palla dell'alzatore poichè è colui che schiaccia meglio <hr>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>
</div>

