<app-nav-bar></app-nav-bar>
<div class="start">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">*</th>
            <th scope="col">Squadra</th>
            <th scope="col">vittorie</th>
            <th scope="col">sconfitte</th>
            <th scope="col">punti</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>predator</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>badboys</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>forbid</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
      
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">*</th>
            <th scope="col">Squadra</th>
            <th scope="col">vittorie</th>
            <th scope="col">sconfitte</th>
            <th scope="col">punti</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">4</th>
            <td>aycb</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>yakuz</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>vc</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
</div>